input {
    text-align: center;
    width : 9%;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    border-width: 0.4%;
    resize: none;
    background-color: rgb(240, 240, rgb(255, 153, 0));
  }
